body {
    margin: 0;
    font-family: Arial;
    background: #bed4a4;
}
.btn {
    border: 0;
    background: #04547e;
    padding: 10px 14px;
}
.btn:hover {
    filter: brightness(0.8);
}
.btn-primary {
    background: #921c06;
    color: white;
}
.logo {
    text-decoration: none;
    color: brown;
    font-weight: 700;
}
.header {
    background: white;
    border-bottom: 1px solid #04547e;
}
